@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

#BannerSeccion4 {
    height: 100%;
    margin: 5%;
    opacity: 100%;
    width: 100%;
    z-index: 1;
    zoom: 25%;
}

#BannerSeccion4 img {
    border-radius: 50px;
}