@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos las fuentes de Google Fonts que usaremos en el componente */

#BannerSeccion4_1 { /* Seleccionamos el elemento con id BannerSeccion4_1 y le aplicamos los siguientes estilos: */
    height: 100%; /* Le damos una altura del 100% del contenedor */
    margin: 5%; /* Le damos un margen del 5% alrededor del elemento */
    opacity: 100%; /* Le damos una opacidad del 100% al elemento */
    width: 100%; /* Le damos un ancho del 100% del contenedor */
    z-index: 1; /* Le damos un índice de profundidad de 1 al elemento */
    zoom: 25%; /* Le damos un zoom del 25% al elemento */
}

#BannerSeccion4_1 img { /* Seleccionamos los elementos img dentro del elemento con id BannerSeccion4_1 y les aplicamos los siguientes estilos: */
    border-radius: 50px; /* Le damos un borde redondeado de 50px al elemento */
}

@media (max-width: 1400px) {
    #BannerSeccion4_1 {
        zoom: 20%;
    }
}

@media (max-width: 1100px) {
    #BannerSeccion4_1 {
        zoom: 15%;
    }
}

@media (max-width: 880px) {
    #BannerSeccion4_1 {
        zoom: 12%;
    }
}

@media (max-width: 800px) {
    #BannerSeccion4_1 {
        zoom: 10%;
    }
}

@media (max-width: 570px) {
    #BannerSeccion4_1 {
        zoom: 8%;
    }
}

@media (max-width: 500px) {
    #BannerSeccion4_1 {
        zoom: 5%;
    }
}