@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

.mb-2 button {
    background-color: #fdb23b;
    border-color: #fdb23b;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    height: 100%;
    padding: 10%;
    transition: background-color 0.2s, transform 0.2s;
    width: 120%;
}

.mb-2 button:hover {
    background-color: #da9931;
    border-color: #da9931;
    transform: scale(110%);
}
.mb-2 button a {
    color: #fff;
    font-family: 'Bangers';
    font-size: 30px;
    text-decoration: none;
}