@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

#TituloSeccion4 h1 {
    color: #fdb23b;
    font-family: 'Bangers';
    font-size: 100px;
    text-shadow: none;
}