@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap"); /* Importamos las fuentes de Google Fonts que usaremos en el componente */

#TituloSeccion4LandingPage {
  text-align: center; /* Alineamos el texto en el centro horizontalmente */
}

#TituloSeccion4LandingPage h1 {
  /* Seleccionamos los elementos h1 dentro del elemento con id TituloSeccion4LandingPage y les aplicamos los siguientes estilos: */
  color: #fdb23b; /* Le damos un color amarillo anaranjado al texto */
  font-family: "Bangers"; /* Le damos la fuente Bangers al texto */
  font-size: 100px; /* Le damos un tamaño de fuente de 100px al texto */
  text-shadow: none; /* Quitamos la sombra al texto */
}

@media (max-width: 1440px) {
  /* Establecemos estilos para pantallas con un ancho máximo de 1440 píxeles */
  #TituloSeccion4LandingPage h1 {
    font-size: 80px; /* Reducimos el tamaño de fuente a 80px */
  }
}

@media (max-width: 1366px) {
  /* Establecemos estilos para pantallas con un ancho máximo de 1366 píxeles */
  #TituloSeccion4LandingPage h1 {
    font-size: 70px; /* Reducimos el tamaño de fuente a 70px */
  }
}

@media (max-width: 720px) {
  /* Establecemos estilos para pantallas con un ancho máximo de 720 píxeles */
  #TituloSeccion4LandingPage h1 {
    font-size: 50px; /* Reducimos el tamaño de fuente a 50px */
  }
}

@media (max-width: 375px) {
  /* Establecemos estilos para pantallas con un ancho máximo de 375 píxeles */
  #TituloSeccion4LandingPage h1 {
    font-size: 30px; /* Reducimos el tamaño de fuente a 30px */
  }
}
