@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

#CondicionesdeServicio {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

#CondicionesdeServicio h1 {
    font-size: 20px;
}

#CondicionesdeServicio a {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
}