@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos fuentes de Google Fonts para usar en estilos del componente Dueño */

#Dueño h1 { /* Estilizamos el encabezado h1 dentro de Dueño */
  font-size: 15px; /* Definimos el tamaño de fuente como 15 píxeles */
  text-align: center; /* Alineamos el texto en el centro */
}

@media (max-width: 1366px) { /* Establecemos estilos para pantallas con un ancho máximo de 1366 píxeles */

  #Dueño h1 {
      font-size: 10px; /* Cambiamos el tamaño de fuente a 10px */
  }
}

@media (max-width: 720px) { /* Establecemos estilos para pantallas con un ancho máximo de 720 píxeles */

  #Dueño h1 {
      font-size: 7px; /* Cambiamos el tamaño de fuente a 7px */
  }
}

@media (max-width: 375px) { /* Establecemos estilos para pantallas con un ancho máximo de 375 píxeles */

  #Dueño h1 {
      font-size: 4px; /* Cambiamos el tamaño de fuente a 4px */
  }
}
