@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos fuentes de Google Fonts para usar en estilos del componente MasInformación */

#MasInformacion { /* Estilizamos el contenedor principal con el ID "MasInformacion" */
  align-items: center; /* Centramos los elementos verticalmente */
  display: flex; /* Configuramos el contenedor como un contenedor flexible (flex) */
  flex-direction: column; /* Configuramos la dirección de los elementos como una columna */
  height: 100%; /* Establecemos la altura del contenedor al 100% del tamaño del contenedor padre */
  justify-content: center; /* Centramos los elementos horizontalmente */
  width: 100%; /* Establecemos el ancho del contenedor al 100% del tamaño del contenedor padre */
}

#MasInformacion h1 { /* Estilizamos el encabezado h1 dentro de MasInformación */
  font-size: 20px; /* Definimos el tamaño de fuente como 20 píxeles */
  text-align: center; /*Alineamos el texto en el centro*/
}

#MasInformacionEnlaces { /* Estilizamos el contenedor de enlaces dentro de MasInformación */
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

#MasInformacionEnlaces a { /* Estilizamos los enlaces dentro de MasInformaciónEnlaces */
  color: #ffffff;
  margin: 5%;
}

@media (max-width: 1440px) { /* Establecemos estilos para pantallas con un ancho máximo de 1440 píxeles */

  #MasInformacion h1 {
      font-size: 18px;
  }

  #MasInformacionEnlaces a {
    zoom: 80%;
  }
}

@media (max-width: 1366px) { /* Establecemos estilos para pantallas con un ancho máximo de 1366 píxeles */

  #MasInformacion h1 {
      font-size: 15px;
  }

  #MasInformacionEnlaces a {
    zoom: 50%;
  }
}

@media (max-width: 720px) { /* Establecemos estilos para pantallas con un ancho máximo de 720 píxeles */

  #MasInformacion h1 {
      font-size: 13px;
  }

  #MasInformacionEnlaces a {
    zoom: 45%;
  }
}

@media (max-width: 375px) { /* Establecemos estilos para pantallas con un ancho máximo de 375 píxeles */

  #MasInformacion h1 {
      font-size: 7px;
  }

  #MasInformacionEnlaces a {
    zoom: 30%;
  }
}
