@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos las fuentes de Google Fonts que usaremos en el componente */

#TituloSeccion3 h1 { /* Seleccionamos los elementos h1 dentro del elemento con id TituloSeccion3 y les aplicamos los siguientes estilos: */
    color: #fdb23b; /* Le damos un color amarillo anaranjado al texto */
    font-family: 'Bangers'; /* Le damos la fuente Bangers al texto */
    font-size: 75px; /* Le damos un tamaño de fuente de 75px al texto */
    text-shadow: none; /* Quitamos la sombra al texto */
}
