@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos las fuentes de Google Fonts que usaremos en el componente */

#BannerSeccion2 { /* Seleccionamos el elemento con id BannerSeccion2 y le aplicamos los siguientes estilos: */
    height: 100%; /* Le damos una altura del 100% del contenedor */
    opacity: 100%; /* Le damos una opacidad del 100% para que no se vea transparente */
    width: 100%; /* Le damos un ancho del 100% del contenedor */
    z-index: 1; /* Le damos un índice de profundidad de 1 para que se quede detrás de otros elementos */
    zoom: 115%; /* Le aplicamos un zoom del 115% para aumentar su tamaño */
}

@media (max-width: 1400px) {
    #BannerSeccion2 {
        zoom: 90%;
    }
}

@media (max-width: 1024px) {
    #BannerSeccion2 {
        zoom: 70%;
    }
}

@media (max-width: 880px) {
    #BannerSeccion2 {
        zoom: 60%;
    }
}

@media (max-width: 800px) {
    #BannerSeccion2 {
        zoom: 40%;
    }
}

@media (max-width: 600px) {
    #BannerSeccion2 {
        display: none;
    }
}