@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

#BannerSeccion2 {
    height: 100%;
    opacity: 100%;
    width: 100%;
    z-index: 1;
    zoom: 115%;
}