@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos las fuentes de Google Fonts que usaremos en el componente */

#BannerSeccion1 { /* Seleccionamos el elemento con id BannerSeccion1 y le aplicamos los siguientes estilos: */
    height: 100%; /* Le damos una altura del 100% del contenedor */
    opacity: 100%; /* Le damos una opacidad del 100% para que no se vea transparente */
    text-align: center; /* Alineamos el texto en el centro */
    width: 100%; /* Le damos un ancho del 100% del contenedor */
    z-index: 1; /* Le damos un índice de profundidad de 1 para que se quede detrás de otros elementos */
    zoom: 100%; /* Le aplicamos un zoom del 100% para mantener su tamaño original */
}

@media (max-width: 1440px) { /* Establecemos estilos para pantallas con un ancho máximo de 1440 píxeles */
    #BannerSeccion1 {
        zoom: 85%; /* Aplicamos un zoom del 85% para reducir el tamaño del elemento */
    }
}

@media (max-width: 1366px) { /* Establecemos estilos para pantallas con un ancho máximo de 1366 píxeles */
    #BannerSeccion1 {
        padding-top: 2%; /* Añadimos un espacio en la parte superior del elemento del 2% del contenedor */
        zoom: 80%; /* Aplicamos un zoom del 80% para reducir el tamaño del elemento */
    }
}

@media (max-width: 720px) { /* Establecemos estilos para pantallas con un ancho máximo de 720 píxeles */
    #BannerSeccion1 {
        padding-top: 15%; /* Añadimos un espacio en la parte superior del elemento del 15% del contenedor */
        zoom: 35%; /* Aplicamos un zoom del 35% para reducir significativamente el tamaño del elemento */
    }
}

@media (max-width: 375px) { /* Establecemos estilos para pantallas con un ancho máximo de 375 píxeles */
    #BannerSeccion1 {
        zoom: 15%; /* Aplicamos un zoom del 15% para reducir considerablemente el tamaño del elemento */
    }
}
