@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos las fuentes de Google Fonts que usaremos en el componente */

#IconoSeccion1 { /* Seleccionamos el elemento con id IconoSeccion1 y le aplicamos los siguientes estilos: */
    height: 100%; /* Le damos una altura del 100% del contenedor */
    opacity: 5%; /* Le damos una opacidad del 5% para que se vea muy transparente */
    width: 100%; /* Le damos un ancho del 100% del contenedor */
}

@media (max-width: 1400px) {
    #IconoSeccion1 {
        margin-left: -5%;
        zoom: 88%;
    }
}

@media (max-width: 1024px) {
    #IconoSeccion1 {
        margin-left: -10%;
        zoom: 75%;
    }
}

@media (max-width: 880px) {
    #IconoSeccion1 {
        margin-left: -10%;
        zoom: 65%;
    }
}

@media (max-width: 800px) {
    #IconoSeccion1 {
        zoom: 50%;
    }
}

@media (max-width: 600px) {
    #IconoSeccion1 {
        margin-left: 15%;
        zoom: 50%;
    }
}

@media (max-width: 570px) {
    #IconoSeccion1 {
        margin-left: 5%;
    }
}