@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@300&display=swap');/*Importamos las fuentes*/

body { /*Estilo general en el body*/
    font-family: 'Carter One', cursive;/*Tipo de letra para toda la página*/
    margin: 0px; /*Eliminamos el margen predeterminado del navegador*/
}

header { /*Estilo al contenedor raiz del header*/
    align-items: center; /*Alineamos de manera vertical en el centro*/
    background: radial-gradient(ellipse, rgb(95, 120, 224) 0%, rgb(45, 75, 224) 100%);/*Color de fondo, con degradado radial en forma de elipse*/
    border: solid 2px rgba(40, 65, 224); /*Borde del header (estilo, grosor y color)*/
    display: flex; /*Hacemos responsive(más o menos) el header*/
    flex-direction: row; /*Hacemos que se organizen los items de forma horizontal*/
    flex-wrap: nowrap; /*Hacemos que sea solo una fila*/
    font-size: large; /*Tamaño letra*/
    font-weight: 300; /*Grosor letra*/
    height: 75px;
    justify-content: flex-start; /*Alineamos los items al inicio*/
    width: auto; /*Anchura automática*/
}

header #logo #show_list { /*Estilo para el espacio del logo*/
    align-items: center; /*Alineamos verticalmente*/
    background-color: rgb(255, 255, 255); /*Color de fondo*/
    border: solid 1px rgba(40, 65, 224); /*Borde del logo(estilo, grosor y color)*/
    border-radius: 100%; /*Redondeamos el ícono*/
    cursor: pointer; /*Cursor cambia al estar sobre*/
    display: flex; /*Damos flexibilidad a este espacio*/
    flex-grow: 0; /*Importancia para aumentar su tamaño*/
    flex-shrink: 0; /*Importancia para disminuir su tamaño*/
    justify-content: center; /*Alineamos horizontalmente*/
    margin: 5px 0px 5px 70px; /*Damos un poco de margen*/
    padding: 2px; /*Damos un poco de margen interna*/
}

header #logo #show_list:hover { /*Al posar cursor*/
    background-color: rgb(212, 212, 212); /*Color de fondo*/
}

header #header1 { /*Estilo para el texto del header*/
    color: rgb(228, 224, 20); /*Color de texto*/
    flex-grow: 1; /*Importancia para aumentar su tamaño*/
    flex-shrink: 1; /*Importancia para disminuir su tamaño*/
    font-family: 'Kalam', cursive; /*Fuente para el header*/
    text-align: center;/*Alineamos el texto*/
    text-shadow: 1px 1px 2px rgb(0, 0, 0); /*Sombra de texto*/
    text-transform: uppercase; /*Convertimos en mayuscula*/
}

#lateral_menu { /*Estilo para el menú izquierdo*/
    align-items: center; /*Alineamos horizontalmente en el centro*/
    background-color: rgb(212, 212, 212); /*Color de fondo*/
    display: flex; /*Display flexible*/
    flex-direction: column; /*dirección vertical para acomodar los items*/
    flex-wrap: nowrap; /*No permitimos multiples columnas*/
    justify-content: space-between; /*Ordenamos verticalmente con espacio entre los objetos*/
    height: 100%; /*Altura al 100%*/
    overflow: hidden; /*Ocultamos contenido que se salga*/
    padding: 0px; /*Borde interno*/
    position: fixed; /*Posición fija en la página*/
    transition: max-width 0.2s ease-in-out; /*Transición para ocultar*/
    max-width: 10%; /*Anchura al 10%*/
}

#menu_list { /*Estilo para los botones del menu lateral*/
    align-items: center; /*Alineamos horizontalmente en el centro*/
    display: flex; /*Display flexible*/
    flex-direction: column; /*Ordenar verticalmente*/
    flex-wrap: nowrap; /*No permite más columnas*/
    height: 20%; /*Altura*/
    justify-content: center; /*Alineados verticalmente en el centro*/
    margin-bottom: -50%;
    width: 70%; /*Anchura*/
}

#menu_list a { /*Estilo de los botones*/
    background-color: rgb(255, 255, 255); /*Color de fondo de los botones*/
    border: solid 2px rgb(45, 75, 224); /*Borde*/
    border-radius: 25px; /*Radio de las esquinas*/
    margin: 5px; /*Margen*/
    padding: 5px; /*Margen interno*/
    text-align: center; /*Alineamos texto en el centro*/
    text-decoration: none; /*Descativamos la decoración te texto*/
    text-transform: uppercase; /*Trasnformar en mayúsculas las letras*/
    width: 90%; /*Tamaño de los botones en el div*/
}

#forum { /*Estilo para los botones del menu lateral*/
    align-items: center; /*Alineamos horizontalmente en el centro*/
    display: flex; /*Display flexible*/
    flex-direction: column; /*Ordenar verticalmente*/
    flex-wrap: nowrap; /*No permite más columnas*/
    height: 100%; /*Altura*/
    justify-content: center; /*Alineados verticalmente en el centro*/
    width: 90%; /*Anchura*/
}

#forum .forum_access { /*Estilo para la vista previa del foro*/
    border: solid 1px rgb(45, 75, 224); /*Borde*/
    height: 70%; /*Altura*/
    margin: 5px; /*Margen*/
    width: 100%; /*Anchura*/
}

#forum a { /*Estilo de los botones*/
    background-color: rgb(255, 255, 255); /*Color de fondo de los botones*/
    border: solid 2px rgb(45, 75, 224); /*Borde*/
    border-radius: 25px; /*Radio de las esquinas*/
    margin: 5px; /*Margen*/
    padding: 5px; /*Margen interno*/
    text-align: center; /*Alineamos texto en el centro*/
    text-decoration: none; /*Descativamos la decoración te texto*/
    text-transform: uppercase; /*Trasnformar en mayúsculas las letras*/
    width: 90%; /*Tamaño de los botones en el div*/
}
