@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Kalam:wght@300&display=swap');/*Importamos las fuentes*/

body { /*Estilo general en el body*/
    font-family: 'Carter One', cursive;/*Tipo de letra para toda la página*/
    margin: 0px; /*Eliminamos el margen predeterminado del navegador*/
}

header { /*Estilo al contenedor raiz del header*/
    align-items: center; /*Alineamos de manera vertical en el centro*/
    background: radial-gradient(ellipse, rgb(95, 120, 224) 0%, rgb(45, 75, 224) 100%);/*Color de fondo, con degradado radial en forma de elipse*/
    border: solid 2px rgba(40, 65, 224); /*Borde del header (estilo, grosor y color)*/
    display: flex; /*Hacemos responsive(más o menos) el header*/
    flex-direction: row; /*Hacemos que se organizen los items de forma horizontal*/
    flex-wrap: nowrap; /*Hacemos que sea solo una fila*/
    font-size: large; /*Tamaño letra*/
    font-weight: 300; /*Grosor letra*/
    height: 75px;
    justify-content: flex-start; /*Alineamos los items al inicio*/
}

header #logo {
    align-items: center; /*Alineamos verticalmente*/
    background-color: rgb(255, 255, 255); /*Color de fondo*/
    border: solid 1px rgba(40, 65, 224); /*Borde del logo(estilo, grosor y color)*/
    border-radius: 100%; /*Redondeamos el ícono*/
    display: flex; /*Damos flexibilidad a este espacio*/
    flex-grow: 0; /*Importancia para aumentar su tamaño*/
    flex-shrink: 0; /*Importancia para disminuir su tamaño*/
    justify-content: center; /*Alineamos horizontalmente*/
    margin: 5px; /*Damos un poco de margen*/
    padding: 2px; /*Damos un poco de margen interna*/
}

header #header1 {
    color: rgb(228, 224, 20); /*Color de texto*/
    flex-grow: 1; /*Importancia para aumentar su tamaño*/
    flex-shrink: 1; /*Importancia para disminuir su tamaño*/
    font-family: 'Kalam', cursive; /*Fuente para el header*/
    text-align: center;/*Alineamos el texto*/
    text-shadow: 1px 1px 2px rgb(0, 0, 0); /*Sombra de texto*/
    text-transform: uppercase; /*Convertimos en mayuscula*/
}   