@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /*Importamos fuentes de google*/

#DropdownPrincipal {
    margin-right: -45%;
}

#DropdownPrincipal #dropdown-basic {
    background-color: transparent;
    border-color: transparent;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

#DropdownPrincipal #dropdown-basic:focus {
    background-color: #8e4c98;
    box-shadow: 0px 0px 10px  #8e4c98;
    outline: none;
}

#DropdownPrincipal #DropdownMenu {
    background-color: #303030;
    border-color: #606060;
}

#DropdownPrincipal #DropdownMenu .DropdownItem,
#DropdownPrincipal #DropdownMenu #DropdownItemIcon a {
    color: #ffffff;
    font-size: 15px;
    text-decoration: none;
}

#DropdownPrincipal #DropdownMenu .DropdownItem:focus,
#DropdownPrincipal #DropdownMenu #DropdownItemIcon:focus,
#DropdownPrincipal #DropdownMenu #DropdownItemIcon a:focus {
    background-color: #8e4c98;
    border-radius: 5px;
    box-shadow: 0px 0px 10px  #8e4c98;
    outline: none;
}

#DropdownPrincipal #DropdownMenu .DropdownItem:hover {
    background-color: #606060;
}

#DropdownPrincipal #DropdownMenu #DropdownItemIcon {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#DropdownPrincipal #DropdownMenu #DropdownItemIcon:hover,
#DropdownPrincipal #DropdownMenu #DropdownItemIcon a:hover {
    background-color: transparent;
}