@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /*Importamos fuentes de google*/

#BarraDeNavegacionSesionCuentaHomePrincipal {
    text-align: center;
}

#BarraDeNavegacionSesionCuentaHomePrincipal .Perfil {
    background-color: transparent;
    border: 2px solid #303030;
    border-radius: 100px;
    margin-left: 5%;
    padding: 2%;
}

#BarraDeNavegacionSesionCuentaHomePrincipal .Perfil:focus {
    background-color: #8e4c98;
    box-shadow: 0px 0px 25px  #8e4c98;
    outline: none;
}