@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap');

#BannerSeccion5 {
    height: 100%;
    margin: 5%;
    opacity: 5%;
    width: 100%;
    z-index: 1;
    zoom: 30%;
}

#BannerSeccion5 img {
    border-radius: 50px;
}