@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos las fuentes de Google Fonts que usaremos en el componente */

#BannerSeccion5_2 { /* Seleccionamos el elemento con id BannerSeccion4_1 y le aplicamos los siguientes estilos: */
    height: 100%; /* Le damos una altura del 100% del contenedor */
    margin: 5%; /* Le damos un margen del 5% alrededor del elemento */
    opacity: 100%; /* Le damos una opacidad del 100% al elemento */
    width: 100%; /* Le damos un ancho del 100% del contenedor */
    z-index: 1; /* Le damos un índice de profundidad de 1 al elemento */
    zoom: 28%; /* Le damos un zoom del 28% al elemento */
}

#BannerSeccion5_2 img { /* Seleccionamos los elementos img dentro del elemento con id BannerSeccion4_1 y les aplicamos los siguientes estilos: */
    border-radius: 50px; /* Le damos un borde redondeado de 50px al elemento */
}

@media (max-width: 1400px) {
    #BannerSeccion5_2 {
        padding-left: 2%;
        zoom: 25%;
    }
}

@media (max-width: 880px) {
    #BannerSeccion5_2 {
        padding-left: 10%;
        zoom: 22%;
    }
}

@media (max-width: 800px) {
    #BannerSeccion5_2 {
        padding-left: 1%;
        zoom: 20%;
    }
}