@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Open+Sans&display=swap'); /* Importamos las fuentes de Google Fonts que usaremos en el componente */

#BannerSeccion5 { /* Seleccionamos el elemento con id BannerSeccion4_1 y le aplicamos los siguientes estilos: */
    height: 100%; /* Le damos una altura del 100% del contenedor */
    margin: 5%; /* Le damos un margen del 5% alrededor del elemento */
    opacity: 5%; /* Le damos una opacidad del 5% al elemento */
    width: 100%; /* Le damos un ancho del 100% del contenedor */
    z-index: 1; /* Le damos un índice de profundidad de 1 al elemento */
    zoom: 30%; /* Le damos un zoom del 30% al elemento */
}

#BannerSeccion5 img { /* Seleccionamos los elementos img dentro del elemento con id BannerSeccion4_1 y les aplicamos los siguientes estilos: */
    border-radius: 50px; /* Le damos un borde redondeado de 50px al elemento */
}

@media (max-width: 1550px) {
    #BannerSeccion5 {
        zoom: 28%;
    }
}

@media (max-width: 1400px) {
    #BannerSeccion5 {
        zoom: 25%;
    }
}

@media (max-width: 1100px) {
    #BannerSeccion5 {
        zoom: 20%;
    }
}

@media (max-width: 930px) {
    #BannerSeccion5 {
        zoom: 18%;
    }
}

@media (max-width: 800px) {
    #BannerSeccion5 {
        zoom: 15%;
    }
}